ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li a {
    display: block;
    text-align: center;
    text-decoration: none;
}

h1 {font-style: italic; }

.eq-term {
  border-radius: 20px;
  padding: 1em;
  height: 60%;
  background-size: cover;
  color: white;
  min-height: 600px;
}
.eq-term input {
  color: black;
}

button.button-primary, a.button.button-primary{
  background-color: hsla(0,0%,100%,0.6);
  color: black;
  border: 0;
}

button.button-primary:hover, a.button.button-primary:hover{
  background-color: white;
  color: #444;
  position: relative;
}

.pctLabel{
  position: relative;
  left: -2.5em;
  color: black;
}
