/*ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}*/

/*li a {
    display: block;
    text-align: center;
    text-decoration: none;
}*/

/*h1 {font-style: italic; }*/

.eq-term {
  border-radius: 20px;
  padding: 1em;
  height: 60%;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: bottom right;
  color: white;
  min-height: 400px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #662d91;
}
.eq-term input {
  color: black;
  width: 50%;
}

/*button.button-primary:focus,
a.button.button-primary:focus,
button.button-primary,
a.button.button-primary{
  background-color: hsla(0,0%,100%,0.6);
  color: black;
  border: 0;
}*/

/*button.button-primary:visited,
a.button.button-primary:visited,
button.button-primary:hover,
a.button.button-primary:hover,
button.button-primary:active,
a.button.button-primary:active{
  background-color: white;
  color: #444;
}*/

/*.pctLabel{
  position: relative;
  left: -2.5em;
  color: black;
}*/

.card-enter {
  opacity: 0.01;
}

.card-enter.card-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.card-leave {
  opacity: 1;
}

.card-leave.card-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

/*nav .column{ position: relative; }*/

/*nav .column::after{
  content: 'x';
  position: absolute;
  top: 0;
  right: -2.5em;
}*/


/*nav .row{
  margin-left: 0 !important;
  width: 8.666667% !important;
}*/

.btn{
  border-radius: 8px;
}

.btn-primary{
  color: #E82148;
  border: 2px solid #E82148;
  background-color: #fff;
  padding: 1em inherit;
}

.prev-button{
  position: absolute;
  bottom: 1em;
}

.next-button{
  position: absolute;
  bottom: 1em;
  right: 1em;
}

.btn-default{
  background-color: hsla(0, 0%, 100%, 0.3) !important;
  color: white;
  border: 0 !important;
}

.btn-default:hover{
  background-color: hsla(0,0%, 100%, 0.6) !important;
  color: white;
}

p {
  font-size: 1.3rem !important;
}

#root{ height: 100%; }

nav p {
  font-size: 2em !important;
  font-style: italic;
}

.result {
  color: #E82148;
  vertical-align: middle;
}

.value {
  background-color: #662D91;
  min-width: 50px;

}
