p {
  font-size: 1.3rem !important;
}

nav p {
  font-size: 2em !important;
}

.eq-term{
  border-radius: 20px;
  padding: 1em;
  height: 60%;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: bottom right;
  color: white;
  min-height: 400px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #662d91;
}
.eq-term input{
  color: black;
  width: 50%;
}

.card-enter{
  opacity: 0.01;
}

.card-enter.card-enter-active{
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.card-leave{
  opacity: 1;
}

.card-leave.card-leave-active{
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.btn{
  border-radius: 8px;
}

.btn:active {
  animation: none;
}

.btn-reset{
  color: #E82148;
  border: 2px solid #E82148;
  background-color: #fff;
  padding: 1em inherit;
}

.btn-reset:hover{
  color: #fff;
  background-color: #E82148;
  opacity: 0.3;
}

.prev-button{
  position: absolute;
  bottom: 1em;
}

.next-button{
  position: absolute;
  bottom: 1em;
  right: 1em;
}

.btn-default{
  background-color: hsla(0, 0%, 100%, 0.3) !important;
  color: white;
  border: 0 !important;
}

.btn-default:hover{
  background-color: hsla(0,0%, 100%, 0.6) !important;
  color: white;
}

.btn-term{
  background-color: #662D91;
  color: white;
  font-style: italic;
  width: 2em;
}

.btn-term:hover{
  background-color: #662D91;
  color: white;
  opacity: 0.3;
}

.btn-term-active{
  background-color: #E82148;
  color: white;
  font-style: italic;
  width: 2em;
}

.btn-term-active:hover{
  background-color: #E82148;
  color: white;
  opacity: 0.3;
}

.result{
  color: #E82148;
  letter-spacing: 7px;
}

.result:hover{
  color: #E82148;
}

.value{
  color: black;
}

.multiply{
  color: gray;
}

#rstar{ height: 100%; }
